@import url(./font.css);
.navbar .navbar-expand-lg .navbar-light{
  background-color: white;
}

* {
  font-family: "Roboto",cursive;
}



.logo-nav{
  height: 70px;
  padding-left: 5rem;
}
.collapse{
  flex-direction: row-reverse;
  padding: 0 5rem 0 0 ;
}
.navbar{
  box-shadow: 0 0 10px 0 #888888;
}
.navbar-nav{
  justify-content: space-between;
  width:50%;
}

.nav-item{
  text-transform: uppercase;
  color: black;
}
.section-of-foto{
  margin-top:10px;
}
.heading{
  font-weight: 300 !important;
}

.head-padding {
  padding: 5rem 5rem 2rem 5rem;
}

.head-padding-2{
  padding: 1rem 5rem;
  text-align: start;
}

.blue-girl {
  float: right;
}
.data-photo{
  padding:5rem 1rem 5rem 5rem;
}
.blue-text {
  color: rgb(60, 177, 197);
}

.button-a{
  background-color: rgb(60, 177, 197);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border: 1px solid transparent;
  font-weight: 300;
  font-size: large;
  margin: 2rem 0 2em 5.1rem;
  box-shadow: 0 0 2px 0 #888888;
  width: 200px;
}
.button-a:hover {
  background-color:#fff;
  background-clip: padding-box;
  color:  rgb(60, 177, 197);
  box-shadow: 0 0 10px 0 #888888;

}
.button-a::after {
  position: absolute;
  top: -2px;left: -2px;
  button:-2px;right: -2px;
  background-color:rgb(60, 177, 197);
  content: '';
  z-index: -1;
  border-radius: 4px;
}
/* ///////////////////// */
.animation {
  /* margin: 0;
  width: 100%;
  height: 100%; */
  font-family: "Roboto",cursive;
}
.content {
  display: flex;
  align-items: center;
}
.slider-wrapper {
  font-size: 40px;
  color:#aaa;
  font-weight: bold;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
}
.slider{
  height: 40px;
  padding-left:15px;
  overflow: hidden;
}
.slider div {
  color:#fff;
  height: 50px;
  margin-bottom: 50px;
  padding: 2px 15px;
  text-align: center;
  box-sizing: border-box;
}
.slider-text1 {
  background: rgb(60, 177, 197);
  animation: slide 5s linear infinite;
}
.slider-text2 {
  background: rgb(60, 177, 197);
}
.slider-text3 {
  background: rgb(60, 177, 197);
}
@keyframes slide {
  0% {margin-top:-300px;}
  5% {margin-top:-200px;}
  33% {margin-top:-200px;}
  38% {margin-top:-100px;}
  66% {margin-top:-100px;}
  71% {margin-top:0px;}
  100% {margin-top:0px;}
}
